@media (max-width: 1440px){
  .container{
    width: 90%;
  }
  #header .header .menu__btn {
    display: none;
  }
}

@media (max-width: 1200px) {

  #header .header .menu__btn {
    display: none;
  }

  #header .header--btn {
    margin-left: 160px;
  }
  #deceit .deceit--eleven--life--mini {
    font-size: 49px;
  }

  #deceit .deceit--eleven--life {
    margin-bottom: 46px;
  }


}

@media (max-width: 1024px) {

  #cold .cold--tame--tiger {
    flex-direction: column;
    text-align: center;
  }

  #cold .cold--tame--tiger--under {
    margin-bottom: 24px;
  }

  #cold .cold--tame--winter {
    flex-direction: column-reverse;
  }

  #cold .cold--tame {
    height: 1134px;
  }

  #deceit .deceit--eleven--life--mini {
    font-size: 40px;
  }

  #deceit .deceit--eleven--nice--pencil {
    font-size: 33px;
  }

  #green .green {
    flex-direction: column;
  }

  #green .green--grammar--master {
    margin-bottom: 42px;
  }

  #header .header .menu__btn {
    display: none;
  }

  #header .header--btn {
    margin-left: 160px;
  }

  #arvi .arvi--global__group--btn {
    width: 330px;
  }

}

@media (max-width: 992px) {

  #header .header .menu__btn {
    display: none;
  }

  #header .header--btn {
    margin-left: 160px;
  }

  #arvi .arvi--global {
    width: 871px;
  }

}

@media (max-width: 768px) {

  #deceit .deceit--habit {
    font-size: 31px;
    margin: 0 0 0 140px;
  }

  #deceit .deceit--eleven--life--mini {
    font-size: 30px;
  }

  #deceit .deceit--eleven--nice--pencil {
    font-size: 28px;
  }

  #green .green--merchant--mistress input {
    width: 541px;
  }

  #header .header--btn {
    display: none;
  }

  #header .header--see {
    display: none;
  }

  #header .header .menu__btn {
    display: block;
  }

  #arvi .arvi--global {
    width: 871px;
  }

}

@media (max-width: 576px) {

  #hero .hero--text--terco {
    font-size: 32px;
  }
  #hero .hero--text--zento {
    font-size: 18px;
  }
  #hero .hero--text__btn--red {
    width: 155px;
    font-size: 16px;
  }
  #hero .hero--text__btn--black {
    height: 39px;
  }

  #deceit .deceit--eleven--life {
    flex-direction: column;
    margin-left: 43px;
    margin-bottom: 99px;
  }

  #deceit .deceit--habit {
    font-size: 31px;
    margin: 0 0 0 56px;
  }

  #deceit .deceit--eleven--nice {
    flex-direction: column;
    align-items: center;
    margin-bottom: 83px;
    margin-left: -113px;
  }

  #deceit .deceit--eleven--place {
    flex-direction: column;
    margin-left: -21px;
  }


  #deceit .deceit--eleven--place--sentence {
    line-height: 50px;
  }





  #green .green--merchant--mistress input {
    width: 370px;
  }


  #green .green--merchant--myrtle {
    flex-direction: column;
  }

  #green .green--merchant--myrtle--person {
    margin-bottom: 27px;
  }

  #header .header--btn {
    display: none;
  }

  #header .header--see {
    display: none;
  }

}

@media (max-width: 450px) {

  #hero .hero--text--terco {
    font-size: 27px;
  }
  #hero .hero--text--zento {
    font-size: 16px;
  }
  #hero .hero--text {
    padding: 13px 49px;
  }
  #hero .hero--text__btn--red {
    width: 146px;
    font-size: 15px;
  }
  #hero .hero--text__btn--black {
    font-size: 17px;
  }

  #cold .cold--tame--tiger--under {
    font-size: 11px;
  }

  #cold .cold--tame--tiger--wife {
    font-size: 14px;
  }

  #cold .cold--tame--tiger--wife span {
    font-size: 14px;
  }

  #cold .cold--tame--winter--woman--bird {
    font-size: 18px;
  }

  #cold .cold--tame--winter--woman--boss {
    font-size: 13px;
  }

  #cold .cold--tame--winter--woman--firm--fisher {
    font-size: 18px;
  }

  #deceit .deceit--habit {
    text-align: center;
    font-size: 31px;
    margin: 0 0 0 -15px;
  }

  #deceit .deceit--habit {
    margin: 0 0 0 7px;
  }



  #green .green--grammar--hurt {
    font-size: 31px;
  }

  #green .green--merchant--mistress input {
    width: 252px;
  }

  #header .header--btn {
    margin-left: 200px;
    display: none;
  }

  #header .header--see {
    display: none;
  }

}

@media (max-width: 425px) {

  #green .green--merchant--mistress input {
    width: 235px;
  }

  #header .header--btn {
    display: none;
  }

  #header .header--see {
    display: none;
  }

}

@media (max-width: 380px) {

  #cold .cold--tame {
    height: 1026px;
  }

  #cold .cold--summer {
    font-size: 30px;
  }

  #cold .cold--tame--tiger--under {
    font-size: 10px;
  }

  #cold .cold--tame--tiger--wife {
    font-size: 12px;
  }

  #cold .cold--tame--tiger--wife span {
    font-size: 12px;
  }

  #cold .cold--tame--winter--woman--bird {
    font-size: 16px;
  }

  #cold .cold--tame--winter--woman--boss {
    font-size: 11px;
  }

  #cold .cold--tame--winter--woman--firm--fisher {
    font-size: 16px;
  }

  #cold .cold--tame--winter--where{
    width: 90%;
  }


  #green .green--grammar--hurt {
    font-size: 27px;
  }

  #green .green--grammar--master {
    font-size: 15px;
  }

  #green .green--merchant--mistress input {
    width: 195px;
  }

  #header .header--btn {
    display: none;
  }

  #header .header--see {
    display: none;
  }

  #header .header #menu__toggle:checked ~ .menu__box {
    max-width: min-content;
  }

}

@media (max-width: 370px) {
  #cold .cold--tame {
    height: 1018px;
  }

  #header .header--btn {
    display: none;
  }

  #header .header--see {
    display: none;
  }

  #header .header #menu__toggle:checked ~ .menu__box {
    max-width: min-content;
  }

}

@media (max-width: 320px) {

  #hero .hero--text--terco {
    font-size: 23px;
  }
  #hero .hero--text--zento {
    font-size: 14px;
  }
  #hero .hero--text__btn--red {
    width: 115px;
    font-size: 12px;
  }
  #hero .hero--text__btn--black {
    width: 77px;
    height: 37px;
    font-size: 15px;
  }


  #cold .cold--tame {
    height: 1020px;
  }

  #cold .cold--summer {
    font-size: 26px;
  }

  #cold .cold--tame--tiger--under {
    font-size: 9px;
  }

  #cold .cold--tame--tiger--wife {
    font-size: 10px;
  }

  #cold .cold--tame--winter--woman--bird {
    font-size: 15px;
  }

  #cold .cold--tame--winter--woman--boss {
    font-size: 9px;
  }

  #cold .cold--tame--winter--woman--firm--fisher {
    font-size: 13px;
  }

  #cold .cold--tame--winter--woman--firm--girl span {
    font-size: 13px;
  }



  #green .green--grammar--hurt {
    font-size: 24px;
  }

  #green .green--merchant--mistress input {
    width: 138px;
  }

  #header .header--btn {
    display: none;
  }

  #header .header--see {
    display: none;
  }

  #header .header #menu__toggle:checked ~ .menu__box {
    max-width: min-content;
  }

}